{#
HTML fragment for  showing a list of all teams.

Template variables:
    teams: rank-sorted array of team objects with fields:
        Rank: Rank of team, where "1" means first
        Competitors: Label to be used for team
        Played: Number of matches played
        Wins: Number of matches won
        Draws: Number of matches drawn
        Losses: Number of matches lost
        Score: Total points from wins (2 points) and draws (1 point) in the usual way.
#}
<table class="table" style="align: center; vertical-align: middle; width: 100%; height: 100%;">
    <tr>
        <th class="table">Rank</th>
        <th class="table">Team</th>
        <th class="table">P</th>
        <th class="table">W</th>
        <th class="table">D</th>
        <th class="table">L</th>
        <th class="table">Points</th>
    </tr>
    {% for team in teams %}
        <tr>
            <td class="table" align="center">{{ team['Rank'] }}</td>
            <td class="table" align="center">{{ team['Competitors'] }}</td>
            <td class="table" align="center">{{ team['Played'] }}</td>
            <td class="table" align="center">{{ team['Wins'] }}</td>
            <td class="table" align="center">{{ team['Draws'] }}</td>
            <td class="table" align="center">{{ team['Losses'] }}</td>
            <td class="table" align="center">{{ team['Score'] }}</td>
        </tr>
    {% endfor %}
</table>